
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<table id="tab1" class="table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Age</th>
        <th>Gender</th>
        <th>PNR No</th>
    </tr>
</table>

<script>
    $(document).ready(function () {
        $("#tab1").css("display", "none");
      
        $.getJSON("http://localhost:60555/api/booking/", function (data) {
               
                $("#tab1").css("display", "block");
            $.each(data, function (key, value) {
                $("<tr><td> " + value.BookingPNR + " <\td><td>" + value.DateOfJourney + "<\td><td>" + value.FlightStatus + "<\td><td>" + value.GuestID + "<\td><td>" + value.BookingTicketStatus + "<\td><td>" + value.FlightID + "</td><\tr>").appendTo($("#tab1"));
                })
            })
      
    })
</script>