
@{
    ViewBag.Title = "Online Airlines Reservation System";
}

<head>
    <style>
        h2 {
            margin: 1em 0 0.5em 0;
            color: #343434;
            font-weight: normal;
            font-family: 'Ultra', sans-serif;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            text-shadow: 0 2px white, 0 3px #777;
        }
        
        
    </style>
</head>
<body>

    <h2 style="background-color:aliceblue"><marquee>CG Airlines Reservation System</marquee></h2>
    <p></p>
    <div class="jumbotron">

        <p class="lead">CG Airlines Reservation System is a new state of the art reservation system that has built in class search features and best flying rates in the country </p>

    </div>
    <div class="row">
        <div class="col-md-4 jumbotron">
            <h2>Administrator</h2>
            <p>
                <ol>
                    <li>Login</li>
                    <li>Add new flights into the system</li>
                    <li>Flight Analysis Reports</li>
                    <li>Flight status Modification</li>
                </ol>
            </p>
            <p><b style="text-align:center">  @Html.ActionLink("Admin", "Index", "Guest", null, new { @style = "background-color:dodgerblue; color:white", @class = "ui-button img-rounded form-control" }) </b></p>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4 jumbotron">
            <h2>Guest User</h2>
            <p>
                <ol>
                    <li>Search Flight</li>
                    <li>Book Flight</li>
                    <li>Cancel Flight</li>
                    <li>Check PNR and Flight Status</li>
                </ol>
            </p>
            <p><b style="text-align:center">  @Html.ActionLink("Guest User", "Index","Guest",null, new { @style = "background-color:dodgerblue; color:white", @class = "ui-button img-rounded form-control" }) </b></p>
        </div>
    </div>
    
    <div>
        <p>Administrator</p>
    </div>
</body>

